body {
    margin: 0;
    height: 100%;
}

/*  Landing */

.main {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  position: absolute;
  height: 100vh;
  z-index: -1;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  font-family: 'Reem Kufi', sans-serif;
}

.center-image {
  background: url('images/tahoe.jpg') center;
  background-size: cover;
}

.main > .intro {
  color: #ffffff;
  margin-bottom: -10px;
	font-size: 3.7em;
	font-weight: 300;
  opacity: 0.8;
}

.main > .intro:hover {
  color: #ff3d3d;
	font-size: 3.7em;
	font-weight: 500;
  opacity: 0.5;
}

.main > .tagline {
  font-size: 1.5rem;
  color: #ffffff;
	margin: 1.5rem 0;
  opacity: 0.8;
	font-weight: 300;
}

.main > .tagline:hover {
  font-size: 1.5rem;
	margin: 1.5rem 0;
  opacity: 2.0;
	font-weight: 500;
}

.icon-contact {
  display: inline-block;
  font-size: 3em;
  padding: 10px;
}

.icon-contact a {
  padding-right: 10px;
  opacity: 0.5;
}

.icon-contact a:hover {
  padding-right: 10px;
  opacity: 0.6;
}

.fa-github:hover {
  color: #00d2b6;
}

.fa-linkedin:hover {
  color: #00d2b6;
}

.fa-twitter:hover {
  color: #00d2b6;
}

/*  NAV */

.container {
  margin: 0;
  text-align: center;
  padding: 1em 3em;
  text-align: center;
}

.container a {
  color: #000000;
  font-size: 1em;
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.nav-home {
  float: left;
  margin-left: -10px;
}

.favicon {
  height: 30px;
}

.brackets a:before, .brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 35px;
  top: 0px;
  transition: all 0.3s;
}

.brackets a:before {
  content: '(';
  left: 0px;
  transform: translateX(10px);
}

.brackets a:after {
  content: ')';
  right: 0px;
  transform: translateX(-10px);
}

.brackets a:hover:before, .brackets a:hover:after {
    opacity: 1;
    transform: translateX(0px);
}

/*  About */

.avatar {
  width: 350px;
  height: auto;
  border: 5px solid #4f8751;
  border-radius: 50%;
  display: block;
  margin: 30px;
}

.avatar:hover {
  transform: translateX( -1px ) rotateY( 180deg );
  -ms-transform: translateX( -1px ) rotateY(180deg);
  -webkit-transform: translateX( -1px ) rotateY(180deg);
}

.profile { /* Container 1 */
  display: flex;
  flex-direction: row;
}

.about-header {
  font-family: 'Playfair Display', serif;
}

.about-1 { /* Experience */
  flex: 2 0 0;
  text-align: center;
  margin: 0 20px 150px 20px;
}

.about-2 { /* Picture */
  flex-direction: row;
  flex: 1 0 0;
  margin: 10px 0 150px 0;
}

.about-me {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 0 30px 0;
  font-family: 'Lato', sans-serif;
}

.currently { /* Container 2 */
  display: flex;
  flex-direction: row;
  margin: 15px 100px;
}

.currently li {
  list-style: none;
  margin: 10px 5px;
  text-align: left;
}

.currently-title {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-align: left;
  font-size: 0.9em;
  margin: 1em 5px;
  flex-grow: 0;
  font-family: 'Playfair Display', serif;
}

.currently-1 { /* Education */
  text-align: center;
  width: 50%;
  text-color: #ff645d;
  text-align: center;
  flex: 2 2 15em;
  margin: 0 100px 0 10px;
  font-family: 'Lato', sans-serif;
}

.currently-2 { /* Currently */
  width: 50%;
  text-align: center;
  flex: 1 1 5em;
  font-family: 'Lato', sans-serif;
}

.currently-divider {
  flex-grow: 1;
  height: 1px;
  background-color: #9f9f9f;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform:scale(0.9);
}

.currently-text {
  display:flex;
  flex-direction:row;
  align-items: center;
}

.currently-item {
  font-weight: 700;
}

.response-title {
  text-decoration: underline;
  height: 0;
  margin: 10px 20px 0px 0;
}

.response-date {
  font-style: oblique;
  text-align: right;
}

.response-item {
  text-align: left;
  font-weight: 100;
  color: #000d23;
}

/*  Projects */
.project-1 {
  text-align: center;
  font-size: 100px;
}

/*  Form */

.lets-talk {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  border: dotted;
}

.submit-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.submit-btn:hover {
  background-color: #3e8e41
}

.submit-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.contact-form {
  text-align: center;
  background-position: center;
  color: transparent;
  padding: 20px 70px;
  color: black;
}

.contact-name {
  width: 10%;
}

.contact-email {
  width: 10%;
}

.contact-message {
  width: 50%;
  padding: 12px 20px;
}

input[type=text]:focus {
    border: 1px solid #555;
}

/*  FOOTER */

.footer {
  position: fixed;
  text-align: center;
  right: 100px;
  bottom: 0;
  left: 100px;
  padding: 0rem;
  opacity: 0.5;
  color: #ff3d3d;
}
